{{>nav class="home-nav"}}
<div class="admin-edit-form access-form">
<h2>{{_id}}</h2>
  <form action="./{{_id}}" method="post">
    <div class="input-wrapper">
      <div class="label">brewerydbId</div>
      <input name="brewerydbId" value="{{brewerydbId}}">
    </div>
    <div class="input-wrapper">
      <div class="label">name</div>
      <input name="name" value="{{name}}">
    </div>
    <div class="input-wrapper">
      <div class="label">brewery</div>
      <input name="brewery" value="{{brewery}}">
    </div>
    <div class="input-wrapper">
      <div class="label">label</div>
      <input name="labelUrl" value="{{labelUrl}}">
    </div>
    <div class="input-wrapper">
      <div class="label">description</div>
      <textarea name="description">{{description}}</textarea>
    </div>
    <div class="input-wrapper">
      <div class="label">abv</div>
      <input name="abv" value="{{abv}}">
    </div>
    <div class="input-wrapper">
      <div class="label">ibu</div>
      <input name="ibu" value="{{ibu}}">
    </div>
    <div class="button-row">
      <button type="submit">SAVE</button>
    </div>
  </form>
</div>