<div class="main-layout">
  <div class="beer-cards">
    {{#if beers}}
      {{#each beers}}
        <div class="card js-tilt example1" style="background-image: url({{labelUrl}})" data-id="{{id}}" data-abv="{{abv}}" data-ibu="{{ibu}}">
          <div class="score"><span>{{rating}}</span></div>
          <div class="top">
            <div class="title">{{name}}</div>
            <div class="meta">{{brewery}}</div>
          </div>
          <div class="col-wrapper bottom">
            <div class="col six vote vote-down"><img src="../res/thumbs-down.svg"></div>
            <div class="col six vote vote-up"><img src="../res/thumbs-up.svg"></div>
          </div>
          <p class="desc hidden">{{description}}</p>
        </div>
      {{/each}}
    {{/if}}
    <div class="card js-tilt add-new">
      <img src="../res/plus.svg" class="abs-center">
    </div>
  </div>
</div>